/* src/index.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.1em;
}

button {
  background-color: #d71212;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  background-color: #e70808;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  flex-grow: 1;
}

.edit-delete-buttons {
  margin-left: 10px;
}

.edit-delete-buttons button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 0.9em;
}

.edit-delete-buttons a {
  text-decoration: none;
  color: white;
  background-color: #0275d8;
  padding: 5px 10px;
  border-radius: 4px;
}

.edit-delete-buttons a:hover {
  background-color: #025aa5;
}

.button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
}
.button:hover {
  background-color: #4cae4c;
}